@font-face {
  font-family: 'quicksandregular';
  src: url('fonts/quicksand-regular-webfont.woff2') format('woff2'),
       url('fonts/quicksand-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body
{
  background-color:gainsboro ;
  font-family:'Gill Sans', 宋体，'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  line-height: 2em;
  color:gray;
}
/*字体颜色*/

.header1 {
    writing-mode: vertical-lr;
    block-size: 150px;
    width: 15%;
    box-sizing: border-box;
    position: fixed;
    top: 250px;
    left: 10px;
    font-size: 50px;
    color: white;
}
/*标题*/

.main {
    float: right;
    width: 75%;
    box-sizing: border-box;
    background-color: whitesmoke;
    padding: 50px 100px;
    margin-right: 10%;
    margin-top: 2%;
}
/*中间的框*/


nav li {
    list-style-type: none;
    color: gainsboro;
    font-weight: lighter;
}

nav{
 
  font-family: Arial, Helvetica, sans-serif;
  padding:5px 10px;
  margin-bottom:10px;
  box-sizing: border-box;
  position: fixed;
  bottom: 10px;
}



nav ul{
  padding-left:0px;
}

.header{
  writing-mode:vertical-lr;
  word-spacing: 2em;
  letter-spacing: 1em;
  block-size: 150px;
  float:left;
  width: 15%;
  box-sizing: border-box;
  position: fixed;
}


.box1 {
    display: grid;
    grid-template-columns: 1px 5em 1fr;
    grid-gap: 20px;
    padding-bottom: 2em;
    margin-bottom: 2em;

}
 .box1 p, .box2 p {
        writing-mode: vertical-lr;
        color: gray;
        font-size: 15px;
    }
.box1 h2,.box2 h2{
  writing-mode:vertical-lr;
  font-size: 30px;
}

.box2 {
    display: grid;
    grid-template-columns: 1px 5em 1fr;
    grid-gap: 20px;

}
img{
  max-width: 100%;
}
.images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding-bottom: 2em;
    margin-bottom: 2em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

a{
  text-decoration: none;
  color:black;
}

a:hover{
  color:orangered;
}

.clearfix{
  clear:both;
}

.footer{

  text-align: center;
}
